* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    flex-direction: column;
    padding: 1em;
}

section h1 {
    font-size: 3em;
}

section h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 1em;
    font-size: 2.5em;
}

section form {
    padding: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center; 
    max-width: 600px; 
    width: 90%; 
    border-radius: 10px;
    border: 2px solid var(--color-primary);
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
}

section form label {
    width: 100%;
    padding: 0.2em;
    margin-bottom: 0.5em;
    color: #333;
}

section form input,
section form select,
section form textarea {
    width: 100%;
    margin-bottom: 1em;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    outline-color: var(--color-primary);
    background-color: #f9f9f9;
    color: #333;
}

section form input[type='submit'] {
    cursor: pointer;
    margin-top: 1.5em;
    background-color: var(--color-primary);
    color: #fff;
    font-family: var(--font-mono);
    font-weight: 700;
    border: none;
    border-radius: 5px;
    transition: var(--transition);
}

section form input[type='submit']:hover {
    background-color: var(--color-secondary);
}

section form input[type='submit']:active {
    transform: scale(0.97);
}

section form p {
    margin-top: 1.5em;
    color: #777;
    text-align: center; /* Centrar el texto */
}

section form p a {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: bold;
}

section form select:focus,
section form input:focus,
section form textarea:focus {
    border-color: var(--color-primary);
}

/* Evitar que el formulario se desborde y asegurar que sea flexible */
section form {
    overflow: auto;
}

/* Ajustar el espacio entre los campos del formulario */
section form input,
section form select {
    margin-bottom: 1em;
}

/* Media query para pantallas grandes */
@media (min-width: 768px) {
    section form {
        width: 50%; /* En pantallas grandes, el formulario será más ancho */
    }
}

:root{

    --transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    --color-primary: #003DFF; /* Azul */
    --color-secondary: #0056E7; /* Azul más oscuro */
}
